<ion-header>
  <ion-navbar>
    <ion-title>Menús</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ul class="list-menu" *ngFor="let menu of menus">
    <li class="item-stable menus" (click)="toggleCats(menu)" [ngClass]="{active: menu.showCats}">
      {{menu.name}}
    </li>
      <ul class="list-menu" *ngFor="let category of menu.categories">
        <li class="item-accordion cats" [hidden]="menu.showCats" (click)="toggleDishes(category)">
          {{category.name}}
        </li>
          <ul class="list-menu" *ngFor="let dish of category.dishes">
            <li class="item-accordion dishes" [hidden]="category.showDishes">
              <ion-icon color="primary" ios="ios-add" md="md-add"></ion-icon>
              {{dish.Name}}
            </li>
          </ul>
      </ul>
  </ul>
</ion-content>
