page-menus {
  .item-accordion {
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.09s all linear;
  }
  .item-accordion.ng-hide {
    line-height: 0;
  }
  .item-accordion.ng-hide-add,
  .item-accordion.ng-hide-remove {
    display: block !important;
  }

  .list-menu{
    padding:0px !important;
    margin:0px !important;
  }
  .menus {
    background-color: #333131;
    color: white;
    padding: 20px !important;
    margin:0px;
  }
  .menus:active, .menus:visited, .menus:hover{
    cursor:pointer;
    background-color: rgb(22, 22, 22);
    transition: 0.3s;
  }
  .cats{
    background-color: #333131;
    color: white;
    padding: 10px !important;
    padding-left:5% !important;
    margin:0px;
  }
  .cats:active, .cats:visited, .cats:hover{
    cursor:pointer;
    background-color: #34495e;
    transition: 0.3s;
  }
  .dishes{
    background-color: #333131;
    color: white;
    padding: 10px !important;
    margin:0px;
  }
  .dishes:active, .dishes:visited, .dishes:hover{
    cursor:pointer;
    background-color: #f53d3d;
    transition: 0.3s;
  }
}
